{% extends 'min_page.html.twig' %}

{% block content %}
    <div class="py-3 border-top">
        <h2 class="h5 mb-3">Sign in with existing account</h2>

        <form method="post">
            <div class="form-group">
                <label class="sr-only required" for="emailInput">Email</label>
                <input type="email" id="emailInput" name="email" required="required" placeholder="Email address"
                       class="form-control" value="{{ last_username }}"/>
            </div>
            <div class="form-group">
                <label class="sr-only required" for="passwordInput">Password</label>
                <input type="password" id="passwordInput" name="password" required="required" placeholder="Password"
                       class="form-control"/>
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        </form>
    </div>
{% endblock %}
