parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DB_PERSISTENT): 'false'
    env(DB_SOCKET): ''
    env(DB_USERNAME): ''
    env(DB_PASSWORD): ''
    env(DB_DATABASE): ''

doctrine:
    dbal:
        # configure these for your database server
        driver: 'pdo_mysql'
        server_version: '5.7'
        charset: utf8mb4
        persistent: '%env(bool:DB_PERSISTENT)%'
        unix_socket: '%env(resolve:DB_SOCKET)%'
        user: '%env(resolve:DB_USERNAME)%'
        password: '%env(resolve:DB_PASSWORD)%'
        dbname: '%env(resolve:DB_DATABASE)%'
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci
        options:
          !php/const:PDO::ATTR_PERSISTENT: '%env(bool:DB_PERSISTENT)%'
