sudo: required

language: jvm

jdk: openjdk9

services:
  - docker

env:
  global:
    - DOCKER_IMAGE=awlodarkiewicz/devops:python
    - HOST_PATH=/home/travis/build/adshares/aduser
    - BUILD_PATH=/build/aduser
    - BUILD_NAME=aduser_build
    - ADUSER_DATA_PATH=$BUILD_PATH/data
    - ADUSER_GEOLITE_PATH=$ADUSER_DATA_PATH/GeoLite2-City.mmdb
    - ADUSER_BROWSCAP_CSV_PATH=$ADUSER_DATA_PATH/browscap.csv
    - PIPENV_DONT_LOAD_ENV=true

  matrix:
    - ADUSER_APP_ENV=dev

stages:
  - Test build, test code, test quality

before_script:
  # Enable aliases for non-interactive shells
  - shopt -s expand_aliases
  # Set alias - please note the missing quote you need to append.
  - alias in_docker='docker exec $BUILD_NAME /bin/bash -c "cd $BUILD_PATH && time'
  # Set alias for cleanup
  - alias cleanup_docker='docker stop $BUILD_NAME && docker rm $BUILD_NAME'

jobs:
  include:
    # Python unit tests
    - stage: Test build, test code, test quality
      script:
        ## Setup test environment
        # Run docker container
        - docker pull $DOCKER_IMAGE
        - env | grep ADUSER > aduser.env
        - >
          docker run -d
          --mount type=bind,src=$HOST_PATH,dst=$BUILD_PATH
          -e PYTHONPATH=$BUILD_PATH
          -e TRAVIS=true
          -e PIPENV_VENV_IN_PROJECT=1
          -e BUILD_PATH=$BUILD_PATH
          -e ADUSER_BROWSCAP_CSV_PATH=$BUILD_PATH/.venv/lib/python2.7/site-packages/pybrowscap/test/data/browscap_14_05_2012.csv
          -e BUILD_WITH_GEOIP=true
          -e BUILD_WITH_PYBROWSCAP=true
          -e INSTALLATION_PATH=/var/www/aduser
          --env-file aduser.env
          --name $BUILD_NAME
          $DOCKER_IMAGE
          sleep infinity

        # Run pre-build script
        - in_docker apt-get -qq update"

        # Run pre-build script
        - in_docker /bin/bash scripts/pre-build.sh"

        # Run build script
        - in_docker /bin/bash scripts/build.sh"

        - in_docker /bin/bash scripts/pre-install.sh"

        # Install locale for pybrowscap
        - in_docker apt-get -qq -y install locales && locale-gen en_US.UTF-8 && locale -a"

        # Test aduser_data_services, install dependencies
        - in_docker pipenv install python-geoip git+https://github.com/char0n/pybrowscap#egg=pybrowscap"

        - in_docker pipenv run tests"

        - in_docker pipenv run quality"

        - in_docker pipenv run coverage report -m"

        # Test documentation building
        - in_docker pipenv run build_docs -W --keep-going"

        - sonar-scanner

        - in_docker /bin/bash scripts/install.sh"

        # Cleanup
        - cleanup_docker

# After a build, send email notification with the build results
notifications:
  email: false
  slack:
    rooms:
      secure: "O7gaiki4jX++eADjMM/REPHPfCpgbQvmkcGPETsrQw8Pj8xNnNLE4OzOeoxIsNoZjLRMGnRVp600UrnJlEE1SqJkgjevyzJnCz0fc5SM66S8W3vpdgJofR5jm5E0Kk5omfxGehp38iiM9FtECRTuKd3zP9sk0pK07b1ROCWFxkAxxoU+7d49fiFwKz7ikPEXvyT6FhbZaSK6sRqk1WR5jrOBupZQUBbOXfGDkba3/Vq87gWe4VP22/lgdh+tpA1hZ+QJW2+IETjXxwiQ05E39vNWJXyi6pRL4qusJR+mH0yqTBY9CDVmd0B4m45gNo9FzaXMkxmdorIf7ypJw/WAe7NNQpL6QoiaKs9FS1y1L8sqYUD4FqCBz60U9ffsL2d/K0XJ/qGCxuPPcVUkoo8Qkmmyos6Gw4JCGHoY1AGQboXhDQX3PyVPNmG+S38BJ55bd1M0rJAuz68nIDkkX91/yuN30VV7QewSGn2ltZ12SKnS7xuGkMr8q6zEuet7114eBL2lN79RTIgCdoYB/NBKtdkmeCD8Sx+VPBych1slepvGkUQIplIg32FXA0gozNitQ0xTwx+Crb1OK/9Z9ypN1wsXeplKiUv4KkBYPaKNXAOdLr/1KVGoP64EIxP0Cq4be1ZEua3ZhtVPmHIk43h4tXH+IfFangU60XqoRDQSTis="
    on_success: change
    on_failure: always

addons:
  sonarcloud:
    organization: "adshares-github"
    token:
      secure: "CHe5qWAqTB0zOp/ux9Ipc73v54HbHVdj/PSPK5mCSb5gmjSnacoyNfqSZ4jzBi9PoQdwGCXZCIIg0OL0cpemsyKPblmLVh64l2uYa2S9H07i0X0dL13mzHrXXYFRO4/sOoaB+LEJFIwdhFBzhHMWQXbyJChDungv3fvgxtttUI39JHCe86aAkky/uRGzMDP998OLA8ezYCe8iqAKtniyS42oGLg/Te+AHNsW+PCf439mfyCvblaAAgHujs9mxjJLsmDYELC3Gw3OvjVR8qf/1JteDMT5uNBSDJYYDjVsA7i/CfGgNTrPzydUFaq3z9SMJrCz1zMoEisqQKJsfSMFG0/APxx1/g8f1rEQEmdCRGs/9CE3vu8OXiI/aLFi8i2LRIcx19iA5yjibibEAwp+BpLQAS6EEbsjq9wrBmznRfSB4Qbr6UOzgOivhfAMRoHUHCHs9Zpe/otbC5oF+YbgkXaLq0Vt/CdUiKHT1ANrrRs2Gy+rAOsWqGcS/Rzu2Vy/P4Xn8RoAJT6KwMkQvcbE6sK2WRqPldCEEif+mny92keJmGi2ZrrmXpIWfB7/YAAQ20x8yaJqSLBzrK0AB62k77Qb+jDtg3lotNPFBhpbUouSQEJuwyKsBSuFp1hemo1yDBVDmWCctUWPu+rSB1Ql6F8Gs7duqLvC4pkLWKaFl0Q="
