monolog:
    handlers:
        main:
            type: fingers_crossed
            action_level: 'error'
            handler: nested
            excluded_404s:
                # regex: exclude all 404 errors from the logs
                - ^/
        nested:
            type: stream
            path: '%env(LOG_FILE_PATH)%'
            level: debug
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine"]
