// customize some Bootstrap variables
$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$dropdown-link-hover-bg: #dee2e6;

@import "~bootstrap/scss/bootstrap";

.sort-link {
  position: relative;
  display: block;
  color: $body-color;
}
