index:
    path: /
    controller: Adshares\Aduser\Controller\InfoController::index
    methods: GET

info:
    path: /info.{_format}
    controller: Adshares\Aduser\Controller\InfoController::info
    methods: GET
    defaults:
        _format: json
    requirements:
        _format:  json|txt

privacy:
    path: /privacy.html
    controller: Adshares\Aduser\Controller\InfoController::privacy
    methods: GET

taxonomy:
    path: /api/{version}/taxonomy
    controller: Adshares\Aduser\Controller\DataController::taxonomy
    methods: GET
    requirements:
        version:  v0|v1

data:
    path: /api/{version}/data/{adserver}/{user}
    controller: Adshares\Aduser\Controller\DataController::data
    methods: GET|POST
    requirements:
        version:  v0|v1
        adserver:  '[a-zA-Z0-9_:.-]+'
        user:  '[a-zA-Z0-9_:.-]+'

pixel_register:
    path: /{slug}/{adserver}/{user}/{nonce}.{_format}
    controller: Adshares\Aduser\Controller\PixelController::register
    methods: GET
    requirements:
        slug:  '[a-zA-Z0-9_:.-]{8}'
        adserver:  '[a-zA-Z0-9_:.-]+'
        user:  '[a-zA-Z0-9_:.-]+'
        nonce: '[a-zA-Z0-9_:.-]+'
        _format:  html|htm|gif

pixel_provider:
    path: /{provider}/{tracking}/{nonce}.{_format}
    controller: Adshares\Aduser\Controller\PixelController::provider
    methods: GET|POST
    requirements:
        provider:  '[a-z]+'
        tracking:  '[a-zA-Z0-9+/=]+'
        nonce: '[a-zA-Z0-9_:.-]+'
        _format:  html|htm|gif

pixel_sync:
    path: /{tracking}/{nonce}.gif
    controller: Adshares\Aduser\Controller\PixelController::sync
    methods: GET
    requirements:
        tracking:  '[a-zA-Z0-9+/=]+'
        nonce: '[a-zA-Z0-9_:.-]+'

pixel_fingerprint:
    path: /{tracking}/{nonce}.html
    controller: Adshares\Aduser\Controller\PixelController::fingerprint
    methods: POST
    requirements:
        tracking:  '[a-zA-Z0-9+/=]+'
        nonce: '[a-zA-Z0-9_:.-]+'